.container {
    padding: 50px;
    display: flex;
    gap: 50px;
}

.left {
    flex: 2;
}

.table {
    width: 100%;
    border-spacing: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.total {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

.right {
    flex: 1;
}

.imageContainer {
    width: 100px;
    height: 100px;
    position: relative;
}

.summary {
    background-color:dimgrey;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.payCashButton {
    margin-top: 20px;
    margin-bottom: 14px;
    border-radius: 4px;
    min-height: 45px;
}

.totalText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    margin: 0px 0px 10px 0px;
}