.container {
    width: 90%;
    max-height: 300px;
    background-color:dimgrey;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    margin-top: 20px;
}

.totalText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    margin: 0px 0px 10px 0px;
}