.container {
    padding: 50px;
    display: flex;
    gap: 50px;
}

.left {
    flex: 2;
}

.table {
    width: 100%;
    border-spacing: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.total {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

.right {
    flex: 1;
}

.imageContainer {
    width: 100px;
    height: 100px;
    position: relative;
}