.container {
    width: 90%;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.desc {
    text-align: left;
}