.container {
    height: calc(100vh - 100px);
    display: flex;
}

.left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 1;
    padding: 20px;
}

.imageContainer {
    width: 80%;
    height: 80%;
    position: relative;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.desc {

}

.size {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.selectedSize {
    border: 3px solid green;
    border-radius: 10px;
}

.sizes {
   
    display: flex;
    justify-content: space-between;
}

.sizeImage {

}

.ingredients {
    margin-bottom: 30px;
}

.option {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.checkbox {
    width: 20px;
}

.quantity {
    width: 50px;
    height: 30px;
}

.button {
    margin-left: 10px;
}