.container {
    height: calc(100vh - 120px);
}

.arrowContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20%;
    width: 20%;
    cursor: pointer;
    z-index: 9999;
}

.wrapper {
    width: 300vw;
    height: 100%;
}

.imageContainer {
    width: 100vw;
    height: 100%;
    position: relative;
}