.container {
    height: calc(100vh - 120px);
    overflow: hidden;
}

.arrowContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 64px;
    width: 64px;
    cursor: pointer;
    z-index: 100;
}

.wrapper {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.2s ease-in-out;
}

.imageContainer {
    width: 100vw;
    height: 100%;
    position: relative;

}

.arrows {
    filter: drop-shadow(2px 4px 4px black);
}